body{
    font: 12px Tahoma;
}
.game15 {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    width: 201px;
    height: 201px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.game15 > div {    
    color: #A97967;
    font-size: 20px;
    width: 45px;
    height: 45px;
    border-radius: 1px;
    background-color: inherit;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-align: center;
    line-height: 45px;
    cursor: pointer;    
    -webkit-user-select: none;
    transition: opacity .2s ease-in-out;
}
div.hidden {
    color: #fff;
    opacity: 0;
    cursor: default !important;
}

.opponent {
    margin-left: 45px;     
}

.opponent .game15{
    width: 161px;
    height: 161px;
}
.opponent .game15 > div{    
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    cursor: default !important; 
}


.field{
    display: inline-block;
}

.user-list{
    float: left;
    display: inline-block;
    width: 300px;
}

.host-list{
    float: left;
    display: inline-block;
    width: 300px;
}

.controls{
    margin: 5px;
}